$bodyBg: #ffffff;
$mainBg: #ffffff;
$mainColor: #ffc400;
$txtColor: #000000;
$purple: #8624DB;
$orange: #ffffff;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;
$sidebarText:#ffffff;

$fontFamily:
'Poppins', sans-serif,'Roboto', sans-serif,'Rubik', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
